[workspace]
authors = ["Amirhossein Davoody <amirhossein.davoody@gmail.com>"]
channels = ["conda-forge"]
name = "mini-spice"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
build = "cmake --preset=release && cmake --build --preset=release"
test = { cmd = "ctest --preset=release --output-on-failure", depends-on = [
    "build",
] }

[dependencies]
python = ">=3.13,<3.14"
numpy = ">=2.3.5,<3"
gcc = ">=15.2.0,<15.3"
gxx = ">=15.2.0,<15.3"
cmake = ">=4.2.1,<5"
libcxx = ">=21.1.8,<22"
c-compiler = ">=1.0.0,<2"
cxx-compiler = ">=1.0.0,<2"
ninja = ">=1.13.2,<2"
llvm-tools = ">=21.1.7,<22"
clang = ">=21.1.7,<22"
clangxx = ">=21.1.7,<22"
clang-tools = ">=21.1.7,<22"
clang-format = ">=21.1.7,<22"
compiler-rt = ">=21.1.7,<22"
gdb = ">=17.1,<18"
elfutils = ">=0.194,<0.195"
