[workspace]
authors = ["Amirhossein Davoody <amirhossein.davoody@gmail.com>"]
channels = ["conda-forge"]
name = "mini-spice"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.13,<3.14"
numpy = ">=2.3.5,<3"
